@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
* {
    font-family: Ubuntu;
}
h3 {color:rgba(60, 100, 165, 0.911)}
* {
    box-sizing: border-box;
}
div.a {
    line-height: 1.6;
  }
body {
    font-family : Ubuntu;
}
header {
    background-color: #6286a3;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}
nav {
    float:left;
    width:30%;
    background: #bec2c7;
    padding: 20px;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 1134px;
}
section::after {
    content: "";
    display: table;
    clear: both;
  }  
footer {
    background-color: #6286a3;
    padding: 10px;
    text-align: center;
    color: white;
  }
@media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }
  /* Container for skill bars */
  .container {
    width: 100%; /* Full width */
    background-color: #ddd; /* Grey background */
    text-align: left;
  }
  
  .niveau {
    text-align: right; /* Right-align text */
    padding-top: 10px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    color: white; /* White text color */
  }
  
  .francais {text-align: center; width: 99%; background-color: #04AA6D;} /* Green */
  .anglais {text-align: center; width: 80%; background-color: #2196F3;} /* Blue */